*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
.main{
    height: 100%;
    width: 100%;
    background-color: white;  
}
body{
    background-color: white;
}
.container{
    width: 380px;
    height: 480px;
    position: relative;
    left: 200px;
    bottom: 500px;
    margin: 10% auto;
    background: #fff;
    padding: 5px;
}
.button-box{
    width: 143px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}
.btn{
    padding: 10px 30px;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    left: 12px;
    font-size: 16px;
}
#buton{
    top: 0;
    left: 0;
    position: absolute;
    width: 143px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
}
.new_acc{
    top: 99px;
    position: absolute;
    left: 145px;
}
.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
    font-size: 15px;
    position: relative;
    left: 39px;
    bottom: 30px;
}
.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
    position: relative;
    left: 49px;
    bottom: 21px;
    font-size: 18px;
}
.check-box{
    margin: 30px 10px 30px 0;
    position: relative;
    left: 40px;
    bottom: 36px;
}
span{
    color: #777;
    font-size: 12px;
    bottom: 107px;
    position: absolute;
    left: 60px;
}
.logo-image{
    position: relative;
    left: 330px;
    bottom: -50px;
    width: 400px
}