.slogan{
    background-color: aqua;
    height: 200px;
    text-align: center;
    font-size: 40px;
}
.navigation{
    background-color: blue;
    color: white;
    height: 25px;
}
#Policies{
    padding: 321px;
}
#customer{
    padding: 142px;
}
.announcement{
    height: 350px;
    background-color:black;
    color: white;
    font-size: 50px;
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}
.taskbar{
    height: 163px;
    background-color: greenyellow;
}
#whyli{
    padding: 100px;
    font-size: 25px;
}
.lowbar{
    text-align: center;
    background-color: yellow;
    color: black;
    height: 38px;
}
#whatli{
    padding: 100px;
    font-size: 25px;
}
#connect{
    font-size: 20px;
}
#Thingsknow{
    
    padding: 110px;
    font-size: 25px;
}


