.slogan{
    background-color:aliceblue;
    height: 200px;
    font-size: 40px;
    background-image: url("slogan.jpeg");
    background-size: 200px;
    background-repeat: no-repeat;
    margin-left: 1050px;  
}
#home{
    margin-right: 500px;
} 
.navigation{
    background-color: black;
    color:white;
    height: 50px;
    font-size: 30px;
}
#Policies{
    margin-right: 700px;
}
#customer{
    margin-right: 350px;
} 
.btn1{
    /* margin-left: 10px; */
    margin-right:2170px;
}
*{
    margin: 0;
    padding: 0;
}
.taskbar{
    /* background-image: url("faqq.jpg"); */
    background-color: aliceblue;
    background-size: 100% 100%;
    height: 350px;
    color: black;
}
img{
    width: 150%;
    height: 500px;
}
 #slider{
    width: 1000px;
    height: 500px;
    /* margin: 20px auto; */
    background-color: black;
    margin-left: 400px;
  
}
button{
    padding: 20px;
    border: none;
    background: #37f;
    font-size: 30px;
    color: white;
    cursor: pointer;

}
.announce{
    text-align: center;
    color: red;
}
#whyli{
    
    font-size: 25px;
}
.lowbar{
    text-align: center;
    background-color:lightblue;
    /* color: red; */
    height: 38px;
}
#whatli{
    margin-left: 200px;
    margin-right: 200px;
    font-size: 25px;
}
#connect{
    font-size: 20px;
}
#Thingsknow{
    
    font-size: 25px;
}
.benefits{
    font-size: 25px;
    margin-left: 200px;
} 
#reasons{
    font-size: 25px;
    margin-left:550px;  
    margin-right: 400px;
}
#needs{
    font-size: 25px;
} 
.faq{
    text-align: center;
    font-size: 40px;
    height: 30px;
    
}
#carry{
    font-size: 25px;
    margin-left: 500px;
    margin-right: 500px;

}
#factor{
    font-size: 25px;
    
}

.faq2{
    text-align: center;
    font-size: 25px;
}
#claim{
    padding: 10px;
}
.faq0{
    /* text-align: center; */
    font-size: 25px;
    height:10px
    
}

.dropdown {
    float: left;
    overflow: hidden;
  }
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }
  .dropdown-content {
    display: none;
    position: relative;
    background-color: yellow;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    cursor: pointer;
  }
.dropdown-content a:hover {
    background-color: #ddd;
  }
  .dropdown:hover{
     background-color: limegreen;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    
  }
  .signin{
    float: left;
    overflow: hidden;
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 13px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }




